h1{
    border:solid 1px #f00; /* 枠線追加 */
    font-size: 5em;
    margin:auto;
    width:70%;
    text-align: center;  /* 文字のみの場所 */
    position:relative;
}

.select {
    list-style: none; /* デフォルトのリストスタイルを削除 */
    padding: 0;
    margin: 0 ;
}

.select li {
    margin: 10px 0; /* リストアイテム間の余白 */
}

.select li a {
    text-decoration: none; /* 下線を削除 */
    color: #333; /* 任意のテキストカラー */
    font-size: 30px; /* 任意のフォントサイズ */
    padding: 10px 20px;
    border: 2px solid #333; /* 任意のボーダー */
    border-radius: 5px; /* ボタンの角を丸める */
    display: inline-block; /* リンクをボタン風にする */
    transition: 0.3s; /* ホバー時のエフェクト */
    position:absolute;
    left:40%;
    
}
.select li:first-child a{
    top:30%;
}
.select li:last-child a{
    top:50%;
}

.select li a:hover {
    background-color: #333; /* 背景色の変更 */
    color: #fff; /* テキストカラーの変更 */
    border-color: #fff; /* ボーダーカラーの変更 */
}