#startGameButton{
    text-decoration: none; /* 下線を削除 */
    color: #333; /* 任意のテキストカラー */
    font-size: 30px; /* 任意のフォントサイズ */
    padding: 10px 20px;
    border: 2px solid #333; /* 任意のボーダー */
    border-radius: 5px; /* ボタンの角を丸める */
    display: inline-block; /* リンクをボタン風にする */
    transition: 0.3s; /* ホバー時のエフェクト */
}

#startGameButton:hover {
    background-color: #333; /* 背景色の変更 */
    color: #fff; /* テキストカラーの変更 */
    border-color: #fff; /* ボーダーカラーの変更 */
}