h2{
    font-size: 5em;
    margin:auto;
    width:70%;
    text-align: center;
    position:relative;
}

h2 form{
    display: flexbox;
}

#buckbtn{
    list-style: none; /* デフォルトのリストスタイルを削除 */
}

#buckbtn li a{
    text-decoration: none; /* 下線を削除 */
    color: #333; /* 任意のテキストカラー */
    background-color:#e6e6e6;
    font-size: 30px; /* 任意のフォントサイズ */
    padding: 10px 20px;
    border: 2px solid #333; /* 任意のボーダー */
    border-radius: 5px; /* ボタンの角を丸める */
    display: inline-block; /* リンクをボタン風にする */
    transition: 0.3s; /* ホバー時のエフェクト */
}

#buckbtn li a:hover {
    background-color: #333; /* 背景色の変更 */
    color: #fff; /* テキストカラーの変更 */
    border-color: #fff; /* ボーダーカラーの変更 */
}

#joinRoomButton {
    text-decoration: none; /* 下線を削除 */
    color: #333; /* 任意のテキストカラー */
    background-color:#e6e6e6;
    font-size: 30px; /* 任意のフォントサイズ */
    padding: 10px 20px;
    border: 2px solid #333; /* 任意のボーダー */
    border-radius: 5px; /* ボタンの角を丸める */
    display: inline-block; /* リンクをボタン風にする */
    transition: 0.3s; /* ホバー時のエフェクト */
}

#joinRoomButton:hover{
    background-color: #333; /* 背景色の変更 */
    color: #fff; /* テキストカラーの変更 */
    border-color: #fff; /* ボーダーカラーの変更 */
}