<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Fighting!|AITボンバー</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/game.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="../static/socket.js"></script>
    <script>
        const myN = {{ myN | tojson }};
        const countmyN = {{ countmyN | tojson }};
        const playersInRoom = {{ players_in_room | tojson }};
    </script>
    
</head>
<body>
    <main>
        
        <!--上のアイテム欄のつもり-->

        <body>
            <canvas id="main" width="480" height="420">
        </body>
    </main>
</body>
<script type="text/javascript" src="../static/map.js"></script>
<script type="text/javascript" src="../static/player.js"></script>
<script type="text/javascript" src="../static/main.js"></script>

</html>