<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Fighting!|AITボンバー</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href=".css">
    <script type = "text/javascript" src = "../map.js"></script>
    <script type = "text/javascript" src = "../main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
</head>

<body>
    <main>
        <p>room_id:580d7901</p>
        <p>score:660</p>
        <!--上のアイテム欄のつもり-->
        <ul>
            <img src=#>
            <img src=#>
            <img src=#>
        </ul>
            <body style = "background:#2e2930">
            <canvas id = "main" width = "720" height = "540">
            </body>
    </main>
</body>

</html>