<!DOCTYPE html>
<html lang="ja">

<head>
    <title>AITボンバー</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <main id="center">
        <h1 id="titlelogo">AITボンバー</h1>
        <ul class="select">
            <li><a href="{{ url_for('roommake') }}">ホストを作成</a></li>
            <li><a href="{{ url_for('roomselect') }}">ルームに参加</a></li>
        </ul>
    </main>
</body>

</html>