<!DOCTYPE html>
<html lang="ja">
<head>
    <title>ランキング|AITボンバー</title>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
</head>
<body>
    <main>
        <h1>ランキング</h1>
        <ol id="ranking-list">
            {% if death_order.get(room_id) %}
            {% for player in death_order[room_id] | reverse %}
                <li>{{ player }}</li>
            {% endfor %}
        {% else %}
            <li>ランキングデータがありません。</li>
        {% endif %}
        </ol>
        <a href="{{ url_for('index') }}">タイトルに戻る</a>
    </main>
</body>
</html>
