<!DOCTYPE html>
<html lang="ja">

<head>
    <title>ランキング|AITボンバー</title>
    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/ranking.css">

    <!-- <link rel="stylesheet" href=".css"> -->

</head>

<body>
    <main>
        <h1 id="rankinglogo">ランキング</h1>
        <ol id="ranking-list">

            {% if death_order.get(room_id) %}
            {% for player in death_order[room_id] | reverse %}
            <li>{{ loop.index }}位:{{ player }}</li>
            {% endfor %}
            {% else %}
            <li>ランキングデータがありません。</li>
            {% endif %}
        </ol>
        <div id="buttongroup2">
            <a href="{{ url_for('index') }}">タイトルに戻る</a>
        </div>

    </main>
</body>

</html>