<!DOCTYPE html>
<html lang="ja">

<head>
    <title>ランキング|AITボンバー</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href=".css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <main>
        <h1>ランキング</h1>
        <ol id="ranking-list">
            <!-- リスト -->
        </ol>
        <a href="{{url_for('index')}}">タイトルに戻る</a>

    </main>

    <script>
        var socket = io();

        socket.on('ranking_data', function (data) {
            console.log("Received ranking_data:", data); // デバッグ用ログ
            // ランキングリストを更新
            var rankingList = document.getElementById('ranking-list');
            rankingList.innerHTML = '';
            data.death_order.forEach(function (playerName) {
                var li = document.createElement('li');
                li.textContent = playerName;
                rankingList.appendChild(li);
            });
        });
    </script>
</body>

</html>