<!DOCTYPE html>
<html lang="ja">

<head>
    <title>ルーム作成|AITボンバー</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/roommake.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
</head>

<body>
    <main>
        <h1>ルーム作成</h1>
        {% if room_id %}
        <p>ルームID: <strong>{{ room_id }}</strong></p>
        {% else %}
        <p>ルームID: 未作成</p>
        {% endif %}
        <!-- ルーム作成 -->
        <div class="makeroom">
            <section id="create-room-section">
                <form action="{{ url_for('roommake') }}" method="post">
                    <input type="hidden" name="room_id" value="{{ room_id }}">
                    <label>
                        プレイヤー名:
                        <input type="text" name="playername" placeholder="プレイヤー名" required>
                    </label>
                    <label>
                        ルーム名:
                        <input type="text" name="roomname" placeholder="ルーム名" required>
                    </label>
                    <fieldset>
                        <legend>ルール選択</legend>
                        <label><input type="radio" name="rule" value="デスマッチ" required> デスマッチ</label>
                        <label><input type="radio" name="rule" value="サバイバル" required> サバイバル</label>
                        <label><input type="radio" name="rule" value="ボンバーマン" required> ボンバーマン</label>
                    </fieldset>
                    <button id="joinRoomButton" type="submit">作成</button>
                </form>
            </section>
        </div>
        <ul id="buckbtn">
            <li><a href="{{ url_for('index') }}">戻る</a></li>
        </ul>
    </main>
</body>

</html>