<!DOCTYPE html>
<html lang="ja">

<head>
    <title>ルーム選択|AITボンバー</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/roomselect.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script defer src="roomselect.js"></script>
</head>

<body>
    <main> <!-- ボタンで分岐させるようにしました -->

        <!-- ルーム選択 -->
        <div class="selectroom">
            <section>
                <h2>ルーム選択</h2>
                <form action="{{ url_for('roomselect') }}" method="post">
                    <div id="inputgroup">
                        <label class="inputlabel" for="playername">プレイヤー名:</label>
                        <div class="inputtext">
                            <input class="inputtext" type="text" name="playername" placeholder="プレイヤー名" required>
                        </div>
                        <label class="inputlabel" for="roomselect">ルーム選択:</label>
                        <div class="inputtext">
                            <select class="inputtext" name="room_id" required>
                                {% for room_id, room_data in rooms.items() %}
                                <option value="{{ room_id }}">{{ room_data['name'] }} (ID: {{ room_id }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="buttongroup">
                        <a href="{{ url_for('index') }}">戻る</a>
                        <button id="joinRoomButton" type="submit">参加</button>
                    </div>
                </form>
            </section>
        </div>
    </main>
</body>

</html>